<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>YelpCamp</title>
</head>
<body>
        <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-nav">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">YelpCamp</a>
                        </div>
                    </div>
                    <div class="navbar-nav">
                        <ul class="nav">
                            <li class="nav-item" style="margin: 0px 3px">
                                <a href="/">Login</a>
                            </li>
                            <li class="nav-item" style="margin: 0px 3px">
                                <a href="/">Sign</a>
                            </li>
                            <li class="nav-item" style="margin: 0px 3px">
                                <a href="/">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
