<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
        <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-nav">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">YelpCamp</a>
                        </div>
                    </div>
                    <div class="navbar-nav">
                        <ul class="nav">
                            <% if(!currentUser){ %>
                                <li class="nav-item" style="margin: 0 20px;">
                                    <a href="/login" style="color: black;">Login</a>
                                </li>
                                <li class="nav-item" style="margin: 0px 20px">
                                    <a href="/register" style="color: black;">Sign Up</a>
                                </li>
                            <% } else { %>
                                <li class="nav-item" style="margin: 0 20px;">Signed In As <%= currentUser.username%></li>
                                <li class="nav-item" style="margin: 0 20px;">
                                    <a href="/logout" style="color: black;">Logout</a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
