<%- include("partials/header") %>
<h1>This is the campgrounds page!</h1>

<a href="/campgrounds/news">Add New Campgrounds</a>

<% campgrounds.forEach((campgrounds) => { %>
    <div>
        <h4><%= campgrounds.name %></h4>
        <img src="<%= campgrounds.image%>">
    </div>
<% }); %>
<%- include("partials/footer") %>